dist: trusty
language: java
jdk:
  - oraclejdk8
  - oraclejdk11
cache:
  directories:
    - $HOME/.m2
install:
  - mvn clean install
before_cache:
  # Do not put the artifacts we just built into the cache
  - rm -r $HOME/.m2/repository/org/hibernate/bugs/
